Client/Client/Connected Services/ManagerServiceReference/ManagerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://seashell/Manager/ManagerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://seashell/Manager/ManagerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IManagerService_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="IManagerService_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_CompileOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CompileOrder" />
  </wsdl:message>
  <wsdl:message name="IManagerService_CompileOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompileOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_RequestDispatching_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestDispatching" />
  </wsdl:message>
  <wsdl:message name="IManagerService_RequestDispatching_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestDispatchingResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_RequestReceiving_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestReceiving" />
  </wsdl:message>
  <wsdl:message name="IManagerService_RequestReceiving_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestReceivingResponse" />
  </wsdl:message>
  <wsdl:portType name="IManagerService">
    <wsdl:operation name="TestConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/TestConnection" message="tns:IManagerService_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/TestConnectionResponse" message="tns:IManagerService_TestConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompileOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/CompileOrder" message="tns:IManagerService_CompileOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/CompileOrderResponse" message="tns:IManagerService_CompileOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestDispatching">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/RequestDispatching" message="tns:IManagerService_RequestDispatching_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/RequestDispatchingResponse" message="tns:IManagerService_RequestDispatching_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestReceiving">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/RequestReceiving" message="tns:IManagerService_RequestReceiving_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/RequestReceivingResponse" message="tns:IManagerService_RequestReceiving_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IManagerService" type="tns:IManagerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/IManagerService/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompileOrder">
      <soap:operation soapAction="http://tempuri.org/IManagerService/CompileOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestDispatching">
      <soap:operation soapAction="http://tempuri.org/IManagerService/RequestDispatching" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestReceiving">
      <soap:operation soapAction="http://tempuri.org/IManagerService/RequestReceiving" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManagerService">
    <wsdl:port name="BasicHttpBinding_IManagerService" binding="tns:BasicHttpBinding_IManagerService">
      <soap:address location="http://seashell/Manager/ManagerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>